canvas {
    cursor: default;
    outline: none;
}

body {
    background-color: #B5F2FF;
    -webkit-touch-callout: none;
}

p {
    text-align: center;
    color: #eeeeee;
}

a {
    text-align: center;
    color: #bbbbff;
}
